<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title>
      <%= assigns[:page_title] || "Dismoi" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="h-full">
    <div class="min-h-full">
      <nav class="bg-indigo-600">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <div class="flex h-16 items-center justify-between">
            <div class="flex items-center">
              <div class="flex-shrink-0 text-white font-bold">
                <.link href={~p"/"}>Dismoi</.link>
              </div>
              <div class="hidden md:block">
                <div class="ml-10 flex items-baseline space-x-4">
                  <!-- Current: "bg-indigo-700 text-white", Default: "text-white hover:bg-indigo-500 hover:bg-opacity-75" -->
                  <a
                    href="#"
                    class="bg-indigo-700 text-white px-3 py-2 rounded-md text-sm font-medium"
                    aria-current="page"
                  >
                    Example Current
                  </a>
                  <a
                    href="#"
                    class="text-white hover:bg-indigo-500 hover:bg-opacity-75 px-3 py-2 rounded-md text-sm font-medium"
                  >
                    Example Default
                  </a>
                </div>
              </div>
            </div>
            <div class="hidden md:block">
              <ul class="inline-flex gap-x-4 ml-4 md:ml-6">
                <%= if @current_user do %>
                  <li>
                    <span class="text-white"><%= @current_user.email %></span>
                  </li>
                  <li>
                    <.link href={~p"/users/settings"} class="text-white">Settings</.link>
                  </li>
                  <li>
                    <.link href={~p"/users/log_out"} method="delete" class="text-white">
                      Log out
                    </.link>
                  </li>
                <% else %>
                  <li>
                    <.link href={~p"/users/register"} class="text-white">Register</.link>
                  </li>
                  <li>
                    <.link href={~p"/users/log_in"} class="text-white">Log in</.link>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="-mr-2 flex md:hidden">
              <!-- Mobile menu button -->
              <button
                type="button"
                class="inline-flex items-center justify-center rounded-md bg-indigo-600 p-2 text-indigo-200 hover:bg-indigo-500 hover:bg-opacity-75 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-indigo-600"
                aria-controls="mobile-menu"
                aria-expanded="false"
              >
                <span class="sr-only">Open main menu</span>
                <!--
                  Heroicon name: outline/bars-3

                  Menu open: "hidden", Menu closed: "block"
                -->
                <svg
                  class="block h-6 w-6"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                  />
                </svg>
                <!--
                  Heroicon name: outline/x-mark

                  Menu open: "block", Menu closed: "hidden"
                -->
                <svg
                  class="hidden h-6 w-6"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <!-- Mobile menu, show/hide based on menu state. -->
        <div class="md:hidden" id="mobile-menu">
          <div class="space-y-1 px-2 pt-2 pb-3 sm:px-3">
            <!-- Current: "bg-indigo-700 text-white", Default: "text-white hover:bg-indigo-500 hover:bg-opacity-75" -->
            <a
              href="#"
              class="bg-indigo-700 text-white block px-3 py-2 rounded-md text-base font-medium"
              aria-current="page"
            >
              Example Current
            </a>
            <a
              href="#"
              class="text-white hover:bg-indigo-500 hover:bg-opacity-75 block px-3 py-2 rounded-md text-base font-medium"
            >
              Example Default
            </a>
          </div>
          <div class="border-t border-indigo-700 py-3">
            <div class="space-y-1 px-2">
              <%= if @current_user do %>
                <span class="block rounded-md px-3 py-2 text-base font-medium text-white hover:bg-indigo-500 hover:bg-opacity-75">
                  <%= @current_user.email %>
                </span>

                <.link
                  href={~p"/users/settings"}
                  class="block rounded-md px-3 py-2 text-base font-medium text-white hover:bg-indigo-500 hover:bg-opacity-75"
                >
                  Settings
                </.link>

                <.link
                  href={~p"/users/log_out"}
                  method="delete"
                  class="block rounded-md px-3 py-2 text-base font-medium text-white hover:bg-indigo-500 hover:bg-opacity-75"
                >
                  Log out
                </.link>
              <% else %>
                <.link
                  href={~p"/users/register"}
                  class="block rounded-md px-3 py-2 text-base font-medium text-white hover:bg-indigo-500 hover:bg-opacity-75"
                >
                  Register
                </.link>

                <.link
                  href={~p"/users/log_in"}
                  class="block rounded-md px-3 py-2 text-base font-medium text-white hover:bg-indigo-500 hover:bg-opacity-75"
                >
                  Log in
                </.link>
              <% end %>
            </div>
          </div>
        </div>
      </nav>

      <header class="bg-white shadow">
        <div class="mx-auto max-w-7xl py-4 px-4 sm:px-6 lg:px-8">
          <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900">
            <%= assigns[:page_title] || "Dismoi" %>
          </h1>
        </div>
      </header>
      <main>
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
          <%= @inner_content %>
        </div>
      </main>
    </div>
  </body>
</html>
